body {
	background-color: #e2792c;
	color: #fff;
	text-align: center;
}
.container {
	max-width: 500px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Amatic SC', cursive;
}
h1 {
	font-size: 4.5em;
	letter-spacing: 0.3em;
}
.and {
	letter-spacing: 0.1em;
}
p {
	text-align: justify;
}
img {
	padding-bottom: 20px;
	max-width: 100%;
}
.center {
	padding-top: 20px;
	text-align: center;
}